#Gridconteiner{
    display: grid;
    gap: 20px;
    grid-template-columns: 120px 50px;
    grid-template-rows: 120px 50px; 
}
#contoiner{
    border: 5xp solid pink;
    background-color: lightpink;
    width:100px;
    height: 100px;
}